node_modules
node_modules/*
reports
reports/*
screenshots/failedtestcases/*
!screenshots/failedtestcases/.gitkeep
screenshots/onboardingimages/*
!screenshots/onboardingimages/.gitkeep
.DS_Store
.DS_Store/*
